---
layout: default
---
{% assign lehrveranstaltungen = site.lehrveranstaltungen | sort: 'title' %}
{% assign cards = "" | split: "" %} {% for lehrveranstaltung in lehrveranstaltungen %}
{% if lehrveranstaltung.typ != "other" %}
{% capture card %}
{% include veranstaltungsinfo-klein.html lehrveranstaltung=lehrveranstaltung %}
{% endcapture %}
{% assign cards = cards | push: card %}
{% endif %}
{% endfor %}

<section class="section">
  <div class="container" data-starting-date="date-{{site.data.dates["week-1"]["day-1"]["datum"]}}">
    <h2 class="title is-1">Zeitplan</h2>
    {% include /functions/zeitplan.html %}
  </div>
</section>

<script>

const weeks_between = function (date1, date2) {
  const ONE_WEEK = 1000 * 60 * 60 * 24 * 7;
  const date1_ms = date1.getTime();
  const date2_ms = date2.getTime();

  const difference_ms = Math.abs(date1_ms - date2_ms);

  return Math.floor(difference_ms / ONE_WEEK);
}

let startingDateData = document.querySelector("[data-starting-date]").dataset.startingDate.replace("date-", "");
let startingDate = new Date(startingDateData);
let today = new Date();


// counting starts at 1
let diffWeek = weeks_between(startingDate, today) + 1;
let scrollTarget = `#week-${diffWeek}`;

console.log(diffWeek)

document.querySelector(scrollTarget).scrollIntoView({ 
  behavior: 'smooth' 
});

</script>
