
.modal, .modal-card-title{
	color: #fff;
}

.modal-card-title{
	font-size: 120%;
}

.modal-card-head{
	border-bottom: 0;
}

.modal-card-foot{
	border-top: 0;
}

.nav-left, .nav-right{
  flex-basis: auto;
}

.modulbeschreibung{
	.container{
		.content{
			*{
				max-width: 50em;
			}
			
		}
	}
}

.is-medium{
	*{
		font-size: 1.4rem !important;
		max-width: 60rem;;
	}
}

.large-icon{
	font-size: 1.5rem;
}

