.hero-head {
  display: none;
  ;
}

.content{
  img.eyecandy{
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: opacity, transform;
  }
}

.main-footer{
  background-color: var(--color-lightest);
  & > * {
    margin: var(--fluid-space-m);
  }

  a{
    color: var(--color-dark);
    text-decoration: none;
    transition: color var(--tr-fast);
    border-bottom: none;
    transition: all var(--tr-fast) ease;
    

    &:hover{
      padding-left: var(--quarter);
      padding-right: var(--quarter);
    }
  }

  .content{
  @media screen and (min-width: 90rem) {
      display: grid;
      grid-template-columns: 33% 2fr;
      gap: var(--space-m);
  }
  }

}

