---
layout: default
---

<section class="section is-inverted">
  <header class="has-edit-button">
                
    <h2 class="title">{{ page.titel }}</h2>
            
    <a target="_blank" href="https://github.com/th-koeln/mi-bachelor-screendesign/edit/master/{{ page.path }}"><span class="icon">edit</span>Bearbeiten</a>
                
  </header>
  
  
  <div class="content is-large">
    {{ page.content }}

    {% if page.uploadlink %}
    Bitte laden Sie Ihr Ergebniss bis zum {{ page.uploaddate }} unter folgendem <a href="{{page.uploadlink}}">Link im ILU</a> hoch.
    {% endif %}

  </div>
</section>
