---
layout: default
---

<section class="section is-inverted">
  <header class="has-edit-button">
                
    <h2 class="title">{{ page.titel }}</h2>
            
    <a target="_blank" href="https://github.com/th-koeln/mi-bachelor-screendesign/edit/master/{{ page.path }}"><span class="icon">edit</span>Bearbeiten</a>
                
  </header>
  
  
  <div class="content is-large">
    {{ page.content }}

    {% unless page.upload == null %}
    <div class="notification is-info">
      <p class="content">Laden Sie ihre Ergebnisse
        {% unless page.deadline == null %} bis zum <strong>{{ page.deadline | date: "%-d. %B %Y" }}</strong>
        {% endunless %} im
        <a href="{{ page.upload }}" title="Upload-Bereich im Iilu-Kurs" target="_blank">Iilu-Kurs</a>
        hoch.</p>
    </div>
    {% endunless %}
  </div>
</section>
