--- 
layout: default 
---

<section class="section modulfacts">

    <div class="content is-simple">

        <header class="has-edit-button">
                
            <h2 class="title">{{ page.titel }}</h2>
            
            <a target="_blank" href="https://github.com/th-koeln/mi-bachelor-screendesign/edit/master/{{ page.path }}"><span class="icon">edit</span>Bearbeiten</a>
                
        </header>

        {% include /functions/resolve-types.html typ=page.typ %}

        <dl class="overview">

            {% assign check = page.dauer | strip_newlines %} {% if check != "" %}
            <dt>Dauer</dt>
            <dd>{{page.dauer}} min</dd>
            {% endif %} {% assign check = page.typ | strip_newlines %} {% if check != "" %}
            <dt>Typ</dt>
            <dd>{{typ-name}}</dd>

            {% capture teilnehmer %}{{typ-max-teilnehmer}} Teilnehmer{% endcapture %} {% if page.anzahl != "" and page.anzahl != nil %} {% assign teilnehmer = page.anzahl %} {% endif %}

            {% assign check = anmeldung | strip_newlines %} {% if check != "" %}
            <dt>Anmeldung erforderlich</dt>
            <dd>bitte hier <a href="{{anmeldung}}">anmelden</a></dd>
            {% endif %} 

            <dt>Maximale Teilnehmerzahl</dt>
            <dd>{{teilnehmer}}</dd>
            {% endif %} {% include /functions/resolve-names.html verantwortlich=page.verantwortlich %}
            <dt>Verantwortlich</dt>
            <dd>{{verantwortliche}}</dd>

            {% assign check = page.empfohlene-voraussetzungen | strip_newlines %} {% if check != "" %} {% include /functions/resolve-voraussetzungen.html voraussetzungen=page.empfohlene-voraussetzungen %}
            <dt>Empfohlene Trainings und Workshops als Vorraussetzung</dt>
            <dd>{{voraussetzungen}}</dd>
            {% endif %} {% assign check = page.info | strip_newlines %} {% if check != "" %}
            <dt>Info</dt>
            <dd>{{page.info}}</dd>
            {% endif %}

        </dl>
        
    </div>

    <div class="modulbeschreibung content" data-grid="simple">
        {% assign check = page.termine | strip_newlines %} {% if check != "" %}
        <h3>Termine:</h3>
        {% include termine-auf-veranstaltungsseite.html termine=page.termine default-raum=page.raum %} {% endif %} 

        {% if page.material %}
        <h2>Material</h2>
        {{ page.material | markdownify }}
        {% endif %}

        {% if page.assignments %}
        {% assign assignments = page.assignments | split: "- " %}
        <h2>Übung{% if assignments.size > 2 %}en{% endif %}</h2>
        {{ page.assignments | markdownify }}
        {% endif %}

        {{ content }}

    </div>
</section>